.fileUploadContainer {
  font-family: Arial, sans-serif;
  background-color: #2A2A2A; /* Dark Gray */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.fileUploadForm {
  background-color: #E0E0E0; /* Light Gray */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;

  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align items */
}

.fileInput {
  display: none; /* Hide the default file input */
}

.customFileInput {
  background-color: #3A3A3A; /* Charcoal */
  color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: 1rem 0; /* Add margin for spacing */
}

.customFileInput:hover {
  background-color: #007BFF; /* Bright Blue */
}

.uploadButton {
  background-color: #3A3A3A; /* Charcoal */
  color: white;
  padding: 1rem 3rem;
  border: none;
  bottom: 200px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem; /* Add margin to separate from the file input */
}

.uploadButton:hover {
  background-color: #ffffff; /* Bright Blue */
  color: #000000; /* Black */
  border: #000000 2.5px solid;
}

.message {
  margin-top: 1rem;
  font-size: 1rem;
  color: #FFFFFF; /* White for messages */
}

.message.success {
  color: #28A745; /* Green for success */
}

.message.error {
  color: #DC3545; /* Red for errors */
}

.fileList {
  color: #FFFFFF; /* White for file list */
  list-style-type: none;
  padding: 0;
  margin-top: 1rem; /* Add margin for spacing */
}

.fileItem {
  color: #CCCCCC; /* Light Gray for file items */
  padding: 0.5rem;
  border-bottom: 1px solid #000000;
}

.fileItem:last-child {
  border-bottom: none;
}

.selectedFilesHeader {
  color: #FFFFFF; /* White for header */
  margin-top: 1rem;
}
